$player-bg: #f66d3b;
$player-active-bg: #5d1583;

.player {
    width: 140px;
    display: flex;
    align-items: center;
    background-color: $player-bg;
    padding: 10px 20px;
    border-radius: 50px 0 0 50px;
    transition: all 225ms ease-in-out;

    &:hover {
        width: 180px;
    }

    span {
        font-size: 1.2rem;
        margin-left: 16px;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    img {
        width: 40px;
        height: 40px;
    }
}

.player-active {
    background-color: $player-active-bg;
    width: 160px;
}
